* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", "Arial", sans-serif;
}
.main-content{
    border: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.conversion-form{
    border: 1px solid purple;
    height: 560px;
    max-height: 100%;
    width: 380px;
}
.nav {
    display: flex;
    justify-content:space-around;
}
.title {
    text-align: center;
    font-size: 2em;
    padding:5px;
}
.nav, .form {
    font-size: 1.5em;
}
.nav-slider {
    width: 100%;
    text-align: center;
    padding: 5px;
}
.nav-slider a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.nav-slider a:hover {
    text-decoration: underline;
}

<!-- .form {
    margin-top: 10px;
} -->
.form-body, .result{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.result{
    font-size: 1.2rem;
    margin-top: 10px;
}
#form-result {
    margin-top: 2%;
    font-size: 1.7rem;
}
#convert-btn, #reset{
    height: 2rem;
    width: 6rem;
    margin-top: 15px;
    padding: 5px;
}
#reset {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
}
#val, #to, #from {
    height: fit-content;
    padding: 5px 2px;
    font-size: 1rem;
}
label{
    margin-top: 3%;
    margin-bottom: 2%;
}
#error{
    color: red;
    font-size: small;
    display: none;
}