<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="main-content">
        
        <div class="conversion-form">
            <div class="title">Adri Unit Conversion</div>
            <div class="nav">
                <div class="nav-slider {%if active == 'length' %} active {%endif%}" id="length"><a href="{{url_for('length_page')}}">Length</a></div>
                <div class="nav-slider {%if active == 'temperature' %} active {%endif%}" id="temperature"><a href="{{url_for('temperature_page')}}">Temperature</a></div>
                <div class="nav-slider {%if active == 'weight' %} active {%endif%}" id="weight"><a href="{{url_for('weight_page')}}">Weight</a></div>
            </div>
            {%block content%}
            {%endblock%}
        </div>
    </div>
    <script src="{{ url_for('static', filename = 'main.js') }}"></script>
</body>
</html>